* {
  --accent-clr-1: hsl(24, 47%, 46%);
  --accent-clr-2: hsl(24, 47%, 66%);
  --accent-clr-3: hsl(24, 47%, 86%);
  --text-clr-1: hsl(214, 8%, 17%);
  --text-clr-2: hsl(214, 8%, 37%);
  --text-clr-3: hsl(214, 8%, 57%);
  --primary-clr-1: hsl(22, 19%, 92%);
  --primary-clr-2: hsl(22, 19%, 72%);
  --primary-clr-3: hsl(22, 19%, 52%);
  --secondary-clr-1: hsl(40, 6%, 91%);
  --secondary-clr-2: hsl(40, 6%, 71%);
  --secondary-clr-3: hsl(40, 6%, 51%);
  --bg-clr: #FFF9E5;
}
