:root {
	color-scheme: light;

  --container-padding-inline: 2rem;
  --content-max-width: 1440px;
  --breakout-max-width: 95dvw;
  --content-padding: 24px;
  --header-size: 70px;
  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width) ) / 2);
	--transition-animation: cubic-bezier(0.68, -0.55, 0.27, 1.55);

	/* Set default color scheme */
	--accent-1: var(--accent-clr-1);
	--accent-2: var(--accent-clr-2);
	--accent-3: var(--accent-clr-3);

	--text-1: var(--text-clr-1);
	--text-2: var(--text-clr-2);
	--text-3: var(--text-clr-3);

	--primary-1: var(--primary-clr-1);
	--primary-2: var(--primary-clr-2);
	--primary-3: var(--primary-clr-3);

	--secondary-1: var(--secondary-clr-1);
	--secondary-2: var(--secondary-clr-2);
	--secondary-3: var(--secondary-clr-3);

	--bg: var(--bg-clr);

	/* Set default font family */
	--font-primary: var(--font-heading);
	--font-secondary: var(--font-body-1);
	--font-tertiary: var(--font-body-2);

	font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html {
	font-size: 62.5%;
	// margin: 0 !important; padding: 0 !important;
}

body {
	font-family: var(--font-secondary); font-size: 1rem;
	color: var(--text-1); background-color: rgba(255, 249, 229, 0.75);
	accent-color: var(--accent-1); line-height: 1.5;
	overflow: clip;

	min-block-size: 100dvh; inline-size: 100dvw;
	display: flex; flex-direction: column; place-content: flex-start;
	scrollbar-color: var(--brand); scrollbar-width: thin; overscroll-behavior: contain;

	@media (width <= 480px) {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

@view-transition {
	navigation: auto;
}

.coming__soon {
	display: flex; place-content: center; place-items: center; flex-wrap: wrap;
	block-size: 75%; inline-size: 100%; flex-flow: column; gap: 1rem;

	> h1 {
		font-size: 3rem; font-weight: 600; font-family: var(--font-secondary);
		color: var(--text-1); line-height: 1; text-align: center;
	}

	> p {
		font-size: 2rem; font-weight: 300; font-family: var(--font-secondary);
		color: var(--text-2); line-height: 1.5;
	}
}